html {
	height: 100%;
}
body {
	min-height:100%; 
	font-size: 15px;
	position:relative; 
	padding-bottom:20px;
}
.navbar {
	width: 100%;
	position: fixed;
	z-index: 100;
	background-image: -moz-linear-gradient( 90deg, rgba(85, 168, 191, 1) 0%, rgba(99, 88, 145, 1) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgba(85, 168, 191, 1) 0%, rgba(99, 88, 145, 1) 100%);
	background-image: -ms-linear-gradient( 90deg, rgba(85, 168, 191, 1) 0%, rgba(99, 88, 145, 1) 100%);
	background-image: linear-gradient( 90deg, rgba(85, 168, 191, 1) 0%, rgba(99, 88, 145, 1) 100%);
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	color: #fff;
	font-weight: bold;
	background-color: transparent;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	color: #fff;
}
.navbar-default .navbar-nav > li > a:hover {
	color: #eee;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
	background-color: rgba(0,0,0,0.1);
	color: #fff;
}
.nav-link,h1,h2,h3,h4,h5{
	color: #486282;
}
